.scanner {
  width: 300px;
  height: 300px;
}

.popup {
  position: relative; /* Important: creates proper stacking context */
  background-color: #3f3f3f;
  gap: 123px;
  width: 70vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border-radius: 12px;
  position: absolute;
  left: 14%;
  top: 56px;
}
.product {
  position: relative;
  z-index: 11;
  background-color: gray;
  width: 311px;
  left: 995px;
  top: -122px;
  display: flex;
  flex-wrap: wrap;
}

.opca {
  position: fixed; /* covers the whole screen */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: beige;
  opacity: 0.4;
  z-index: 5; /* below popup */
}
